body{
        background-color: rgb(200,200,200);
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(20,20,200);
}
header{
    background-color: rgb(20,20,200);
    color: rgb(200,200,200);
    text-align: center;
    padding: 6px;
}
nav{
    padding: 6pt;
    background-color: rgb(100,100,200);
    color: rgb(200,200,200);
}

.lang{
    padding: 4pt;
    border-radius: 2pt;
    background-color: antiquewhite;
}
a{
    text-decoration: none;
}
main{
    margin-left: 12px;
}
footer{
    padding: 6px 0 6px 24px;
    background-color: rgb(100,100,100);
    color: white;
}
.boite{
    background-color: cadetblue;
    border-radius: 4pt;
    padding-top: 6pt;
    padding-bottom: 6pt;
    padding-left: 8%;
    margin-left: 15%;
    width:70%;
}
/*
Généré automatiquement depuis https://csswarp.eleqtriq.com/
*/
#warped {position: relative; display: block; width:414px; height:137px;}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
transform-origin:50% 100%; }

#warped span{font-size:24px;font-weight:bold;font-style:normal;
line-height:0.65; white-space:pre; overflow:visible; padding:6px;}

#warped .w0 { transform: rotate(-7.39rad); width: 25px; height: 24px;
left: 65px; top: 80px;}

#warped .w1 { transform: rotate(-7.22rad); width: 19px; height: 24px;
left: 82px; top: 57px;}

#warped .w2 { transform: rotate(-7.05rad); width: 19px; height: 24px;
left: 98px; top: 42px;}

#warped .w3 { transform: rotate(-6.89rad); width: 11px; height: 24px;
left: 116.91px; top: 26.87px;}

#warped .w4 { transform: rotate(-6.73rad); width: 19px; height: 24px;
left: 130.25px; top: 16.87px;}

#warped .w5 { transform: rotate(-6.55rad); width: 19px; height: 24px;
left: 152.45px; top: 8.7px;}

#warped .w6 { transform: rotate(-6.41rad); width: 13px; height: 24px;
left: 176.4px; top: 4.66px;}

#warped .w7 { transform: rotate(-6.31rad); width: 10px; height: 24px;
left: 194.62px; top: 3.49px;}

#warped .w8 { transform: rotate(-6.23rad); width: 11px; height: 24px;
left: 209.45px; top: 3.82px;}

#warped .w9 { transform: rotate(-6.14rad); width: 17px; height: 24px;
left: 225.09px; top: 5.84px;}

#warped .w10 { transform: rotate(-6.04rad); width: 15px; height: 24px;
left: 247.05px; top: 10.07px;}

#warped .w11 { transform: rotate(-5.98rad); width: 10px; height: 24px;
left: 266.21px; top: 14.83px;}

#warped .w12 { transform: rotate(-5.91rad); width: 17px; height: 24px;
left: 279.73px; top: 20.96px;}

#warped .w13 { transform: rotate(-5.81rad); width: 30px; height: 24px;
left: 299.02px; top: 32.79px;}

#warped .w14 { transform: rotate(-5.71rad); width: 11px; height: 24px;
left: 330.83px; top: 45.8px;}

#warped .w15 { transform: rotate(-5.64rad); width: 15px; height: 24px;
left: 343.52px; top: 56.13px;}
